* {
    font-family: "Catamaran", sans-serif;
}
 :root {
     --bg-color: #ffffff;
     --second-bg-color: #EEEEEE;
     --text-color: #000000;
     --main-color: #eeff00;
     --container-color: #ff0000;
     --containerText-color: #212121;
 }
 body {
      background: var(--bg-color);
      color: var(--text-color);
}
.header {
    font-size: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1px 9%;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: between;
    align-items: center;
    z-index: 100;
}
  .logo {
      color: var(--text-color);
      cursor: pointer;
      transition: 0.3s ease-in-out;
      width: 100px;
      height: 10px;
      border-radius: 5px;
  } 

  .logo:hover {
      transform: scale(1.1);
  }
    .navbar a {
      font-size: 23px;
      color: var(--text-color);
      margin-left: 6rem;
      font-weight: 550;
      transition: 0.3s ease-in-out;
      border-bottom: 3px solid transparent;
      position: relative;
      top: 0px;
      left: 780px;
      text-decoration: none;

  }
  .text-animation{
    color: var(--container-color);

  }
    
    .navbar a:hover,
    .navbar a.active {
        color: var(--main-color);
            border-bottom: 3px solid var(--main-color);
        text-decoration: none;
    }
/* .mainabout  {


} */
.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    top: 1rem;
    width: 130px;
    height: 100%;
    /* border-radius: 20%; */
    /* box-shadow: 0 0 25px var(--main-color); */
    cursor: pointer;
    /* transition: 0.4s ease-in-out; */
    /* padding-left: 50px; */
    margin-left: 0px;
}

/* About Section */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    min-height: 200px;
    padding: 05rem 9% 10rem;

}

.about h2 span {
    color: var(--main-color);
    text-shadow: 0 0 50px var(--main-color);
}

.about-img {
    border-radius: 50%;
}

.about-img img {
    position: relative;
    width: 700px;
    height: 100%;
    top: 1rem;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    border-radius: 30%;
}
.btn {
    background: #D5FC17;
    border: none;
    position: relative;
    top: 30px;
    left: 0;
    color: #ff0000;
    font-size: 20px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    transform: scale(25.05);
    box-shadow: 0 0 25px var(--main-color);

}
.about-img img:hover {
   filter: drop-shadow(0px 0px 43px var(--main-color));
   
}

.heading {
    text-align: center;
    font-size: 4rem;

}

.about-content h2 {
    text-align: left;
    line-height: 1.5;
}


.about-content h3 {
    font-size: 20px;
}

.about-content p {

    padding-top: 20px;
    color: var(--text-color);
    margin: 0.5rem 0 3rem;
    font-family: 'popoins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    opacity: 0.8;
    text-align: justify;

}
img {
    height: 250px;
    width: 250px;
}

.menu {
    margin: 70px;
    margin-top: 0;
    padding-top: 120px;
}

td {
    text-align: center;
    padding: 40px;
}

td h2 {
    color: #000;
}

td h3 {
    color: #7A7A7A;
}

td span {
    padding-left: 10px;
    color: #B3133C;
}

td a {
    text-decoration: none;
}

td:hover {
    transform: scale(1.1);
    /* Increase the size by 10% */
    transition: transform 0.3s ease;
    /* Smooth transition */
}


.abouttext h1 {
    margin: 0px;
    font-size: 100px;
    position: relative;
    left: 0vh;
    top: 0vh;
}

.abouttext p {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    padding-top: 10px;
    color: #7A7A7A;
    letter-spacing: 2px;
    line-height: 35px;
    padding-top: 0;
    position: relative;
    left: 2px;
    padding-bottom: 0;
    text-align: left;
    position: relative;
    left: 0;
    top: 0;
}

.abouttext img {
    position: relative;
    top:0;
    left: 100;
    filter: drop-shadow(0px 0px 43px #fc6a6a44);
}

.abouttext button i {
    color: #ffffff;
    margin-right: 10px;
}

.abouttext button {
    background: #FB1351;
    border: none;
    position: relative;
    top: 0;
    left: 0;
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
}

.content img {
    width: 848px;
    height: 100%;
}