* {
    font-family: "Catamaran", sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
}
 :root {
     --bg-color: #ffffff;
     --second-bg-color: #EEEEEE;
     --text-color: #000000;
     --main-color: #00FFFF;
     --container-color: #001aff;
     --containerText-color: #212121;
 }
 body {
      background: var(--bg-color);
      color: var(--text-color);
      overflow-x: hidden;
}
.header {
    font-size: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1px 9%;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: between;
    align-items: left;
    z-index: 100;
}
  .logo {
      color: var(--text-color);
      cursor: pointer;
      transition: 0.3s ease-in-out;
      width: 100px;
      height: 10px;
      border-radius: 5px;
  } 

  .logo:hover {
      transform: scale(1.1);
  }
    .navbar a {
      font-size: 23px;
      color: var(--text-color);
      margin-left: 6rem;
      font-weight: 550;
      transition: 0.3s ease-in-out;
      border-bottom: 3px solid transparent;
      position: relative;
      top: 50px;
      left: 780px;
      text-decoration: none;

  }
  .text-animation{
    color: var(--container-color);

  }
    
    .navbar a:hover{
        transform: scale(1.5);
        transition: 0.3s ease-in-out;
    }
    .navbar a.active {
        color: var(--main-color);
        border-bottom: 3px solid var(--main-color);
        text-decoration: none;
        top: 50px;
    }
/* .mainabout  {


} */

/* page head  */

.textsince{
    margin: -100px;
    padding: 100px;
    margin-left: -300px;


}

.heading {
    text-align: left;
    font-size: 4rem;
    margin-left: -200px;
}

.head-img {
    border-radius: 50%;
}

.head-img img {
    position: relative;
    top: 1rem;
    width: 130px;
    height: 100%;
    /* border-radius: 20%; */
    /* box-shadow: 0 0 25px var(--main-color); */
    cursor: pointer;
    transition: 0.4s ease-in-out; 
     /* padding-left: 50px; */
    margin-left: -100px;
}
.head-img img:hover {
    transform: scale(1.5);
    transition: 0.3s ease-in-out;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    min-height: 200px;
    padding: 05rem 9% 10rem;

}

.home h2 span {
    color: var(--main-color);
    text-shadow: 0 0 50px var(--main-color);
}
/* .about h2 span:hover{
    filter: drop-shadow(0px 0px 20px var(--main-color));
} */

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    width: 700px;
    height: 100%;
    top: 1rem;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    border-radius: 30%;
    left: 200px;
}
.btn {
    background: #00FFFF;
    border: none;
    position: relative;
    top: 90px;
    left: -200px;
    color: #ff0000;
    font-size: 20px;
    font-weight: 100px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    transform: scale(25.05);
    filter: drop-shadow(0px 0px 30px var(--container-color));
}
.home-img img:hover {
    filter: drop-shadow(0px 0px 90px var(--main-color));
    transform: scale(1.2);
    transition: 0.3s ease-in-out;

   
}


.about-content h2 {
    text-align: left;
    line-height: 1.5;
}
/* .about-content h2:hover{
    filter: drop-shadow(0px 0px 1px var(--containerText-color));
} */

.about-content h3 {
    font-size: 20px;
}

.about-content p {

    padding-top: 20px;
    color: var(--text-color);
    margin: 0.5rem 0 3rem;
    font-family: 'popoins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    opacity: 0.8;
    text-align: justify;

}
img {
    height: 250px;
    width: 250px;
}


/* Table Section */

.menu {
    margin: 70px;
    margin-top: 10;
    padding-top: 120px;
}



td {
    text-align: center;
    padding: 40px;
}

td h2 {
    color: #000;
}

td h3 {
    color: #7A7A7A;
}

td span {
    padding-left: 10px;
    color: #B3133C;
}

td a {
    text-decoration: none;
}

td:hover {
    transform: scale(1.1);
    /* Increase the size by 10% */
    transition: transform 0.3s ease;
    /* Smooth transition */
}


.about h2 {
    margin: 0px;
    font-size: 75px;
    position: relative;
    left: 800px;
    top: -900px;
}

.about p {
    font-size: 22px;
    padding: 0px;
    margin: 0px;
    color: #000000;
    letter-spacing: 2px;
    line-height: 35px;
    padding-top: 0;
    position: relative;
    left: 800px;
    padding-bottom: 0;
    text-align: left;
    top: -700px;
    
}
.about p:hover{
    filter: drop-shadow(0px 0px 1px var(--containerText-color));
}

.about img {
    position: relative;
    top: -100px;
    left: 70px;
    filter: drop-shadow(0px 0px 43px #fc6a6a44);
    width: 600px;
    height: 100%;
}
.btn02 {
    background: #00FFFF;
    border: none;
    position: relative;
    top: -600px;
    left: 800px;
    color: #ff0000;
    font-size: 20px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.btn02:hover {
    transform: scale(25.05);
    box-shadow: 0 0 70px var(--container-color);
}